<div class="container custom-style">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-unstyled">
                <% @users.each do |u| %>
                    <% if u.profile %>
                        <%= link_to u do %>
                        <li>
                            <div class="well row <%= cycle('white-bg', '') %>">
                                <div class="col-sm-4 text-center">
                                    <% if u.profile.avatar %>
                                        <%= image_tag u.profile.avatar.url, class: 'user-index-avatar' %>
                                        
                                    <% end %>
                                </div>
                                <div>
                                    <h2><%= u.profile.first_name %> <%= u.profile.last_name %> <br></h2>
                                    <p><%= u.profile.job_title %></p>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>